body {
   margin: 0;
   padding: 0;
   background-color: #F0F0F0; 
   color: #444;
   font-family: 'manjari', sans-serif;
}

/* mobile-nav */
.left-logo {
   margin-left: 25px;
}

.mobile-icon-container {
   display: flex;
   justify-content: center;
}

.mobile-icon-container a {
   margin: 0 15px;
   font-size: 1.2em;
   text-decoration: none;
   color: #444;
}

main {
   margin-top: 100px;
}

/* about section */
.section-title {
   text-align: center;
   font-size: 1.4em;
   letter-spacing: 2px;
   line-height: 1.2em;
}

.about-section {
   padding: 0 50px;
   font-size: 1.5em;
   line-height: 1.2em;
}

.about-content {
   padding: 0 30px;
   font-size: 1.1em;
   line-height: 1.2em;
}

/* project section */
.project-section {
   margin-top: 100px;
}

.project-card {
   background-color: #34495E;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
   color: #D5D8DC;
   padding: 30px 20px;
   width: 90%;
   margin: 20px auto;
}

.project-title {
   margin-top: 0;
   font-size: 1.3em;  
}

iframe, .project-image {
   width: 100%;
}

.website-link {
   color: #BBDEFB;
   cursor: pointer;
   text-decoration: none;
}

.project-links {
   text-align: center;
   margin-top: 10px;
}

.project-links a {
   margin: 10px;
   font-size: 1.2em;
}

.project-description {
   margin-top: 10px;
}

.technologies-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.technologies-list li{
   margin: 5px 0;
}

.notable-features li {
   margin: 8px 0;
}