body {
   margin: 0;
   padding: 0;
   background-color: #F0F0F0; 
   color: #444;
   font-family: 'manjari', sans-serif;
}

/* mobile-nav */
.left-logo {
   font-family: 'Raleway';
   margin-left: 25px;
}

/* desktop nav */
#desktop-nav {
   display: none;
}

.mobile-icon-container {
   display: flex;
   justify-content: space-between;
}

.mobile-icon-container a {
   margin: 0 15px;
   font-size: 1.2em;
   text-decoration: none;
   color: #444;
   justify-content: space-between;
}

.desktop-icon-container {
   margin-top: 20px;
   padding: 20px;
   display: flex;
   justify-content: space-between;
}

desktop-icon-container a {
   margin: 0 10px;
   font-size: 1.2em;
   color: #aaa;
   text-decoration: none;
   padding: 20px;
} 

main {
   margin-top: 80px;
}

/* say what???? */
.navLinks {
   color: white;
}

/* about section */
.section-title {
   text-align: center;
   font-size: 1.4em;
   letter-spacing: 2px;
   line-height: 1.2em;
}

.about-content {                     
   padding: 0 30px;
   font-size: 1.1em;
   line-height: 1.2em;
}

/* project section */
.project-section {
   margin-top: 100px;
}

.project-card {
   background-color: #34495E;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
   color: #D5D8DC;
   padding: 30px 20px;
   width: 85%;
   margin: 20px auto;
}

.project-title {
   margin-top: 0;
   font-size: 1.25em; 
}

.project-description {
   margin-left: 10px;
}

.project-image {
   width: 100%;
}

.website-link {
   color: #BBDEFB;
   cursor: pointer;
   text-decoration: none;
}

.technologies-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.technologies-list li {
   margin: 5px 0;
}

.project-links {
   text-align: center;
   margin-top: 20px;
}

.project-links a {
   margin: 10px;
   font-size: 1.2em;
}

.notable-features li {
   margin: 8px 0;
}

/* media queries */
@media screen and (min-width: 700px) {
   #mobile-nav, .mobile-icon-container {
      display: none;
   }

   #desktop-nav {
      display: flex;
      background-color: #232526;
      justify-content: space-between;
      color: #aaa;
   }

   nav {
      margin-top: 20px;
   }

   .about-content {
      padding: 0 15%;
   }

   .project-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
   }

   .project-title {
      margin-bottom: 0;
      position: relative;
      bottom: 15px;
   }

   .project-right-container {
      margin-top: 5px;
   }
    
   @media screen and (min-width: 1100px) {
      .about-content {
         padding: 0 25%;
      }

      .project-card {
         width: 60%;
      }
   }
}